#frame {
  border: 1px solid red;
}

#block {
  width: 20px;
  height: 40px;
  background: green;
  position: relative;
  margin-left: -20px; /*Negative margin to simplify position calculations*/
  animation-name: moveBlock;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

@keyframes moveBlock {
  from {
    left: 20px;
  }
  to {
    left: 100%;
  }
}
